<%- include('./partials/head.ejs') %>

<h1 class="main-title">Uw persoonlijke dagboek</h1>

<section class="dagboek-section">

    <form class="note-form" action="/new" method="post">
        <fieldset class="fieldset-form">
            <legend>Type hier jouw aantekeningen</legend>

                <label>Datum van aantekening</label>
                <input class="input-date" type="date" name="date" placeholder="datum" required>

                <label>Type hier uw aantekening</label>
                <textarea class="textarea-aantekening" cols="30" rows="10" type="text" name="note" placeholder="Type hier..." required></textarea>

                <button class="form-btn" type="submit" value="opslaan">Opslaan</button>

        </fieldset>
    </form>

    <div class="aantekeningen-div">
        <fieldset class="aantekeningen-output">
            <legend>Hier komen jouw aantekeningen</legend>
        </fieldset>
    </div>
</section>    

<%- include('./partials/foot.ejs') %>