* {
    font-family: monsterrat, sans-serif;
}

:root {
    --clr-yellow: #f4eb34;
    --clr-green: #72afa6;
    --top-margin: 0rem;
    --left-margin: 0rem;
    --right-margin: 0rem;
}

body {
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    margin-top: var(--top-margin);
}

.vinimini-header {
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: var(--clr-yellow);
}

.vinimini-header h1 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

nav {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2px;
    padding-right: 2px;
    list-style: none;
}

.nav-content {
    text-decoration: none;
    color: black;
    left: 0;
    font-size: 1rem;
    transition: .2s;
}

.nav-content:hover {
    color: var(--clr-green);
    border-bottom: 2px solid var(--clr-green);
}

main {
    padding-left: 2rem;
    padding-right: 2rem;    
}

.main-title {
    color: var(--clr-green);
    text-align: center;
}

.dagboek-section {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.note-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fieldset-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    /* box-shadow: 5px 5px 10px black; */
}

legend {
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-date {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 2px solid black;
    font-weight: bold;
}

.input-titel {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 2px solid black;
    font-weight: normal;
}

.input-titel:focus {
    background-color: var(--clr-green);
    outline: none;
}

.input-label:after {
    content: "*";
    color: red;
}

.input-date:focus {
    background-color: var(--clr-green);
    outline: none;
}

.textarea-aantekening {
    border: 2px solid black;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding-left: 5px;
}

.textarea-aantekening:focus {
    background-color: var(--clr-green);
    outline: none;
}

.form-btn {
    color: var(--clr-green);
    cursor: pointer;
    border: 2px solid var(--clr-green);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    width: 10rem;
    border-radius: 25px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-top: 1.5rem;
    transition: .2s ease-in-out;
}

.form-btn:hover {
    background-color: var(--clr-green);
    color: white;
}

.aantekeningen-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.aantekeningen-output {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    height: 10rem;
}

.aantekeningen-output h2 {
    color: var(--clr-green);
}

@media screen and (min-width: 930px ) {
    .vinimini-header h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .main-title {
        font-size: 25px;
    }
}